
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body{
    font-family: "Roboto Slab", serif;
}
html {
    scroll-behavior: smooth;
}

.hidden {
    display: none;
}


/* Navbar style */

#navbar-large{
    display: flex;
    justify-content: space-between;
    width:100%;
    height: 52px;
    padding: 0px 50px;
    background: #ffffff;
    align-items: center;
    position: fixed;
    color: rgb(41, 40, 40);
    border-bottom:solid 0.2px  rgb(154, 154, 154);
}

#navbar-large-item{
    display: flex;
}

#navbar-large-item>div{
    margin-left: 5px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    font-size: small;
    border:solid 0.1px rgb(154, 154, 154);
    
}

#navbar-large-item>div:hover{
    cursor: pointer;
    /* box-shadow: 0 5px 10px 0 #b5b4b4; */
    
    background: #e0e0e0;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    transition:
    border-radius 0.25s,
    background-color 0.5s;
}

#navbar-large-item>div:last-child{
    padding: 0;
    margin: 0;
    width: 24px;
    border: 0;
} 

#navbar-large-item>div:last-child>img{
    padding: 0;
    margin: 0;
    width: 24px;
    
    
}

.active-button{
    background-color: rgba(130, 250, 134, 0.537);
}
/* Navbar small */
#navbar-small{
    padding: 10px;
    position: fixed;
    right: 20px;
    top: 60px;
    background: rgb(218, 218, 218);
    min-width: 150px;
    min-height: 150px;
    border-radius: 10px;
    border-bottom:solid 0.2px  rgb(154, 154, 154);
    color: rgb(45, 45, 45);
    
    
}
#navbar-small>div{
    padding: 20px 20px;
    
}
#navbar-small>div:hover{
    cursor: pointer;
    /* box-shadow: 0 5px 10px 0 #b5b4b4; */
    
    background: #e0e0e0;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    transition:
    border-radius 0.25s,
    background-color 0.5s;
}
/* Navbar style end */



/* User card */
#user-cards{
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px; 
    margin-right: 60px;
   
}
#user-cards>div {
    width: calc(50% - 10px); 
    margin: 5px; 
}

@media only screen and (max-width: 640px) {
    #navbar-large{
        
        padding: 0px 20px;
    }
    
    #user-cards{
        display: flex;
        flex-wrap: wrap;
        margin-left: 20px; 
        margin-right: 20px;
       
    }
    
    #user-cards>div {
        width: calc(100% - 10px); 
        margin: 5px; 
    }
  }

.user-card {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(244, 243, 243);
    border-radius: 5px;
    color: #2f2f2f;
    border: solid 0.01px rgb(221, 221, 221);
    border-bottom: solid 0.2px rgb(154, 154, 154);
    
    width: 100%; 
}

.user-card>div:first-child{
    max-width: 120px;
    padding: 10px;
   
}
.user-card>div>img{
    width: 100%;
    align-items: center;
    justify-content: center;
    max-width: 100px;
    background-color: rgb(211, 211, 211);
    border-radius: 8px;
}
.user-card>div:last-child{
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 290px;
    

}





